
.spotlight-container {
    width: 700px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}
.spotlight-main{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 20px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.spotlight-content {
    padding:20px;
}
.spotlight-content h1 {
    font-size: 18px;
    margin: 15px 0 15px 0;
    text-align: center;
}
.spotlight-content p {
    font-size: 14px;
    line-height: 1.6;
    margin: 10px 0;
    color: #333;
}
.spotlight-content h2 {
    font-size: 16px;
    color: #d62828;
    margin-top: 20px;
}
.rounded-box {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    background-color: #fdfdfd;
    margin: 10px 0;
}
.score {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.score span {
    font-weight: bold;
}

.spotlight-head {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    padding-top: 2rem;
}
.spotlight-head .spotlight-box {
    width: 20%;
    height: 100%;
    background-color: var(--darkred);
    border-radius: 0  1rem  1rem 0;
}
.spotlight-head .spotlight-image {
    width: 20%;
}
.spotlight-head .spotlight-image img {
    width: 100%;
    object-fit:cover;
}
.spotlight-head .spotlight-info {
    width: 50%;
    height: 100%;
    background-color: var(--darkred);
    border-radius: 1rem 0 0 1rem ;
    color: var(--white);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.spotlight-head .spotlight-info table tr td {
    font-size: small;
    padding: 5px;
}
.scores {
    width: 700px;
    padding: 1rem;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.score-container {
    width: 300px;
    height: 100px;
    background-color: var(--primary);
    border-radius: 25px;
    padding: 5px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overall-score {
    background-color: var(--white);
    width: 50%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grade {
    width: 60px;
    height: 60px;
    border: 2px solid var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin-right: 20px;
}
.grade span {
    font-size: larger;
}


.badge-container {
    
    width: 400px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}
.badge-box {

    display: flex;
    align-items: center;
    gap: 10px;

}
.left-section {
    border-radius: 10px;
    height: 100%;
    width: 40%;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;

}
.subtitle {
    font-weight: bold;
}
.middle-section  {

    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-section .level {
    text-align: center;
}
.right-section{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-section .badge-grade {
    font-weight: bold;
    font-size:xx-large;
    text-align: center;
}
.reach .right-section  .badge-grade , .preference .right-section  .badge-grade , .money .right-section  .badge-grade {
    font-weight: bold;
    font-size:small;
    text-align: center;
}

.awareness .level {

    color: var(--darkred);
    border-top: 2px  solid var(--darkred);
    border-bottom: 2px  solid var(--darkred);
}

.awareness .right-section , .awareness .left-section {
    background-color: var(--darkred);
    
}

.reach .level {
    color: var(--skyblue);
    border-top: 2px  solid var(--skyblue);
    border-bottom: 2px  solid var(--skyblue);
}
.reach .right-section , .reach .left-section {
    background-color: var(--skyblue);

}
.preference .level {
    color: var(--darkblue);
    border-top: 2px  solid var(--darkblue);
    border-bottom: 2px  solid var(--darkblue);
}
.preference .right-section , .preference .left-section {
    background-color: var(--darkblue);

}
.money .level {
    color: var(--primary);
    border-top: 2px  solid var(--primary);
    border-bottom: 2px  solid var(--primary);
}
.money .right-section ,.money .left-section {
    background-color: var(--primary);

}
.loyality .level {
    color: var(--golden);
    border-top: 2px  solid var(--golden);
    border-bottom: 2px  solid var(--golden);
}
.loyality .right-section ,.loyality .left-section {
    background-color: var(--golden);

}
.brand-analysis {
    background-color: #215f9a;
    padding: 1rem;
    border-radius: 1rem;
    width: 500px;
    color: var(--white);
}
.brand-analysis h2 {
    margin-bottom: 10px;
}

.scores-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.circle-badge-container {
    width: 130px;
    height: 130px;
  }
  
  .badge-svg {
    width: 100%;
    height: 100%;
  }
  
  .red-circle .circle-background {
    fill:var(--darkred);
  }
  
  .inner-circle {
    fill: white;
  }
  
  .curved-text {
    fill: white;
    font-size: 16px; /* Reduce font size for alignment */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .percentage {
    font-size: 40px; /* Slightly reduce size */
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle; /* Center text vertically */
  }

  .red-circle .percentage {
    fill: var(--darkred);
  }


  .darkblue-circle .circle-background {
    fill: var(--darkblue);
  }
  .darkblue-circle .percentage {
    fill: var(--darkblue);
  }

  .skyblue-circle .circle-background {
    fill: var(--skyblue);
  }
  .skyblue-circle .percentage {
    fill: var(--skyblue);
  }

  .gray-circle .circle-background {
    fill: var(--darkgray);
  }
  .gray-circle .percentage {
    fill: var(--darkgray);
  }