.user .user-name {
    font-size: 17px;
}
.user .user-text {
    font-size: 14px;
}
.user {
    border-bottom: 2px solid var(--primary);
    margin-bottom: 30px;
    padding-bottom: 0.5rem;
}
  
.brand-list {
    margin-bottom: 10px;
    max-height: 250px;
    /* border: 1px solid black; */
    overflow-y: auto;
   
  }
  
  .brand-item {
    display: flex;
    align-items: center;
    margin:0 10px 10px  0;

  }
  
  .numbering {
    width: 20px;
    font-weight: bold;
    color: #666;
    margin-right: 10px;
  }
  
 
  
 
  
 