footer{
    width: 80%;
    height: 68px;
    background-color: #959495;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 0px;
    border-radius: 8px;
    bottom: 0px;
    position: static;
}