@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100vh;
  width: 100%;
  /* place-items: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ddd; */
  font-size: 14px;
}
::selection {
  background: #23a03d;
  color: #ffffff;
}

/* ------------------------------------ */
/* -------- Button Styles -------------- */
/* ------------------------------------ */

.btn-green {
  border: none;
  padding: 20px;
  margin-top: 5px;
  background-color: #23a03d;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
  width: 100%;
}

.btn-white {
  border: none;
  padding: 15px 30px;
  background-color: #ffffff;
  border-radius: 50px;
  color: #119832;
  margin: 10px 0px;
  cursor: pointer;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
}

.btn-white:hover {
  background-color: #209e39;
  color: #ffffff;
  outline: 2px solid #ffffff;
}

.btn-green:hover {
  background-color: #ffffff;
  color: #1f9e39;
  outline: 2px solid #1c9d37;
}

/* ------------------------------------ */
/* -------- Input Styles -------------- */
/* ------------------------------------ */

.form-input {
  margin: 10px 0px;
  border: 1px solid #454344;
  padding: 12px 8px;
  background-color: #efefef;
  width: 100%;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;  
  color: #6b6b6b;
}

.form-input:focus {
  outline: none;
  border: 1px solid #17c93b;
  box-shadow: 0px 0px 5px 0px #209e39;
  color: #3a3a3a;
  background-color: #ffffff;
}

.form-input:hover {
  outline: none;
  border: 1px solid #17c93b;
}

/* placeholder */
.form-input::placeholder {
  color: #6b6b6b;
}

/* ------------------------------------ */
/* -------- Main Styles -------------- */
/* ------------------------------------ */
