.container {
  width: 700px;
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tab.active {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

form {
  display: none;
}

form.active {
  display: block;
}

.form-group img {
  width: 19px;
  position: absolute;
  right: 15px;
  top: 30%;
  cursor: pointer;
}

.pass {
  padding-right: 45px;
}

label {
  display: block;
  /* margin-bottom: 5px; */
}

.form-footer {
  text-align: center;
  margin-top: 10px;
}

.form-footer a {
  color: var(--primary);
  text-decoration: none;
}

.terms-check {
  display: flex;
  align-items: center;
}

.terms-check input[type="checkbox"] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.terms-check label {
  font-size: 14px;
  line-height: 1.5;
}

.terms-check label a {
  color: var(--link-color); /* Link color */
  text-decoration: none;
}

.terms-check label a:hover {
  text-decoration: underline;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.row > button {
  margin: auto;
}
